*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-size: 16pt;
}

button{
  margin-inline: 0.5rem;
  padding-block: 1rem;
  padding-inline: 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 20%);
}

.App{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  gap: 1rem;
  max-width: 70%;
}

li{
  list-style: none;
  border-bottom: 1px solid black;
  padding-block: 0.5rem;
}

li:last-child{
  border-bottom: none;
}

h2{
  font-size: 20pt;
}


/* HTML: <div class="loader"></div> */
.loader {
  width: 40px;
  aspect-ratio: 1;
   --c: linear-gradient(#000 0 0);
   --m: radial-gradient(farthest-side,#000 92%,#0000);
  background: 
    var(--c),var(--m),
    var(--c),var(--m), 
    var(--c),var(--m);
  background-size: 8px 15px,8px 8px;
  background-repeat: no-repeat;
  animation: l14 1s infinite alternate;
  margin: 0 auto;
  margin-top: 1rem;
}
@keyframes l14 {
  0%,
  10% {background-position: 0 0   ,0 100%,50% 0   ,50% 100%,100% 0   ,100% 100%}
  33% {background-position: 0 100%,0 0   ,50% 0   ,50% 100%,100% 0   ,100% 100%}
  66% {background-position: 0 100%,0 0   ,50% 100%,50% 0   ,100% 0   ,100% 100%}
  90%,
  100%{background-position: 0 100%,0 0   ,50% 100%,50% 0   ,100% 100%,100% 0   }
}